body {
    background-color: rgba(224,148,122,0.4);
    font-family: "helvetica", cursive, sans-serif;
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

img {
    width: 100%;
}

.line {
    padding: 0px;
}

.box {
    padding: 5px;
    
}

a: { 
    text-decoration: underline;
    font-size: 24px;
}

a:hover { 
    background-color: rgba(204,248,212,1.0);
}